[user]
	email = m13203533462@163.com
	name = Finley Ge
[core]
	editor = nvim
[init]
	defaultBranch = main
[safe]
	directory = *
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
